/*global*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 62.5%;
  font-family: "noto-sans-jp-medium";
  letter-spacing: 1px;
}
body {
  overflow-x: hidden;
}

p,
a {
  font-size: 1.6rem;
  color: #222222;
  text-decoration: none;
}

@font-face {
  font-family: "noto-sans-jp-bold";
  src: url("../font/NotoSansJP-Bold.otf");
}

@font-face {
  font-family: "noto-sans-jp-medium";
  src: url("../font/NotoSansJP-Medium.otf");
}

@font-face {
  font-family: "noto-serif-jp-medium";
  src: url("../font/NotoSerifJP-Medium.otf");
}

$large-pc-width-px: 1280px;
$pc-width-px: 960px;
$tb-width-px: 768px;
$sp-width-px: 480px;
$circle-size: 20vw;

/*scroll*/
.effect-fade {
  opacity: 0;
  transform: translate(0, 20px);
  transition: all 1000ms;
}

.effect-fade.effect-scroll {
  opacity: 1;
  transform: translate(0, 0);
}

/*header*/
.header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  &__nav {
    width: calc(100% - 160px);
    padding: 40px 120px 40px 40px;
    margin: 0 0 0 auto;
    display: flex;
    justify-content: space-between;
    .logo {
      width: 150px;
    }
    .list {
      display: flex;
      &__item {
        margin: 0 0 0 40px;
      }
    }
  }
}

@media screen and (max-width: $tb-width-px) {
  .header__nav .list {
    display: none;
  }
}

/*hamburger*/
$hamburger_color: #222222;
#hamburger_nav {
  position: absolute;
  height: 100vh;
  width: 100%;
  right: -100%;
  top: 0;
  background: #ffffff;
  transition: 0.8s ease-in-out;
  text-align: center;
  ul {
    margin: 0 auto;
    padding-top: 80px;
    li {
      list-style-type: none;
      font-size: 20px;
      a {
        display: block;
        text-decoration: none;
        color: #000000;
        margin: 0 15px;
        padding: 20px 10px;
        transition: 0.3s;
        font-size: 2rem;
        &:hover {
          color: #ffffff;
          background: #333333;
          border-bottom: none;
        }
      }
    }
  }
}

#hamburger_button {
  display: block;
  position: absolute;
  top: 20px;
  right: 30px;
  width: 50px;
  height: 44px;
  cursor: pointer;
  transition: 1s;
  .hamburger_line {
    display: block;
    position: absolute;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: $hamburger_color;
    transition: 1s;
    border-radius: 4px;
  }
  #line1 {
    top: 0;
  }
  #line2 {
    top: 20px;
  }
  #line3 {
    bottom: 0px;
  }
  .line1_active {
    background: $hamburger_color;
    transform: translateY(20px) rotate(-45deg);
    top: 0;
  }
  .line2_active {
    background: $hamburger_color;
    opacity: 0;
  }
  .line3_active {
    background: $hamburger_color;
    transform: translateY(-20px) rotate(45deg);
    bottom: 0;
  }
}
.hamburger_nav_active {
  transform: translateX(-100%);
}
.hamburger_button_open:after,
.hamburger_button_close:after {
  position: absolute;
  bottom: -2rem;
  font-size: 14px;
  letter-spacing: 4px;
  opacity: 1;
}
.hamburger_button_close:after {
  content: "menu";
  animation: textFade 1s ease-in-out;
}
.hamburger_button_open:after {
  content: "close";
  animation: textFade2 1s ease-in-out;
}

@keyframes textFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes textFade2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*main*/
.sec-kv {
  width: 100%;
  height: 100vh;
  position: relative;
  .ttl {
    z-index: 20;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    text-shadow: 1px 1px 5px #333;
    color: #fff;
    letter-spacing: 5px;
    font-weight: normal;
    font-family: noto-serif-jp-medium;
    white-space: nowrap;
    text-align: center;
  }
  .circle {
    z-index: 20;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: $circle-size * 2;
    height: $circle-size * 2;
    background: #555;
    border-radius: 100%;
    box-sizing: border-box;
    border-left: solid 7px #000000;
    border-right: solid 7px #ffffff;
    mix-blend-mode: overlay;
  }
  .scroll {
    z-index: 30;
    position: absolute;
    bottom: 0;
    left: 95%;
    transform: translate(-50%, -350%);
    letter-spacing: 1px;
    a {
      color: #000;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      width: 1px;
      height: 40px;
      background: #000;
      animation: scrollPath 1.5s ease-in-out infinite;
      opacity: 0;
    }
  }
  .slide-box {
    width: 100%;
    height: 100%;
    .swiper-container {
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      filter: grayscale(70%) blur(4px);
    }
    .filter-img {
      filter: grayscale(95%);
    }
    .swiper-slide-active img,
    .swiper-slide-duplicate-active img,
    .swiper-slide-prev img {
      animation: zoomUp 10s linear 0s 1 normal both;
    }
  }

  .trim-slide {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle($circle-size);
    .slide-box img {
      filter: none;
    }
  }
}

@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes scrollPath {
  0% {
    height: 0;
    top: 30px;
    opacity: 0;
  }
  30% {
    height: 40px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 100px;
    opacity: 0;
  }
}

/*grid*/
.container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20vw 20vw;
  .item {
    width: 100%;
    height: 100%;
    border: solid 2px #fff;
    box-sizing: border-box;
    background: #f3f3f3;
    background-size: cover;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &__img-box {
      position: relative;
      width: 100%;
      height: 100%;
      &__img {
        opacity: 1;
        background: #fff;
        transition: 0.3s;
      }
      &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: 0.3s;
        font-size: 1.6rem;
        text-align: center;
        .ttl {
          font-size: 2rem;
          white-space: nowrap;
        }
        .list {
          margin: 10px 0 0 0;
          li {
            font-size: 1.6rem;
            margin: 5px;
            white-space: nowrap;
          }
        }
      }
      &:hover .item__img-box__text {
        opacity: 1;
        transition: 0.3s;
      }
      &:hover .item__img-box__img {
        opacity: 0.3;
        transition: 0.3s;
      }
    }

    &-ttl {
      grid-column: span 2;
      grid-row: span 2;
      text-align: left;
      font-size: 3rem;
      background: #f9f9f9;
      .inner {
        width: calc(100% - 50px);
        height: calc(100% - 50px);
        padding: 25px;
        position: relative;
        .ttl {
          font-size: 3rem;
          &__number {
            padding: 0 20px 0 0;
          }
        }
        .text-box {
          width: calc(100% - 60px);
          padding: 15% 30px 0 30px;
          .ttl {
            font-size: 2.5vw;
            white-space: nowrap;
            padding: 0 0 8% 0;
          }
          p {
            font-size: 1.2vw;
            white-space: nowrap;
            line-height: 200%;
          }
        }
        .btn-more {
          position: absolute;
          bottom: 30px;
          left: calc(10% + 15px);
        }
      }
    }
    &-ttl2 {
      grid-column: span 2;
      text-align: left;
      .inner {
        width: calc(100% - 58px);
        height: calc(100% - 58px);
        padding: 30px;
        background: #ffffffcc;
        margin: -1px 0 0 -1px;
        .ttl {
          font-size: 2.5rem;
          font-weight: normal;
          &__number {
            padding: 0 20px 0 0;
          }
        }
        .text-box {
          .text {
            margin: 50px 0;
            font-size: 1.5rem;
          }
        }
        .btn-more {
          a {
            font-size: 1.4rem;
            color: #666666;
          }
        
        }
      }
    }
  }
  .gallery-box {
    background: url(../images/bg2_800x400.png);
    filter: grayscale(100%);
    background-size: cover;
    background-repeat: no-repeat;
    transition: .25s all;
    .inner{
      transition: .25s all;
    }
    &:hover{
      filter:grayscale(0);
      .inner{
        background: #ffffff99;
      }
    }
  }
}

.event-none {
  pointer-events: none;
  position: relative;
  &:after {
    width: 100%;
    content: "";
    position: absolute;
    bottom: calc(50% - 2px);
    left: -5px;
    padding: 0 5px 0 10px;
    border-bottom: solid 1px #666666;
  }
  &:before {
    width: 0;
    height: 0;
  }
}

@media screen and (max-width: $large-pc-width-px) {
  .container .item-ttl2 {
    .inner {
      .text-box {
        .text {
          margin: 30px 0;
          font-size: 1.5rem;
        }
      }
    }
  }
}
@media screen and (max-width: $pc-width-px) {
  .container .item-ttl2 {
    .inner {
      padding: 30px;
      width: calc(100% - 58px);
      height: calc(100% - 58px);
      .ttl {
        font-size: 2.5rem;
        font-weight: normal;
        &__number {
          padding: 0 20px 0 0;
        }
      }
      .text-box {
        .text {
          margin: 15px 0;
          font-size: 1.5rem;
        }
      }
      .btn-more {
        a {
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media screen and (max-width: $tb-width-px) {
  .container .item-ttl2 {
    .inner {
      padding: 50px;
      width: calc(100% - 98px);
      height: calc(100% - 98px);
      .ttl {
        font-size: 3.5rem;
        font-weight: normal;
        &__number {
          padding: 0 20px 0 0;
        }
      }
      .text-box {
        .text {
          margin: 30px 0;
          font-size: 1.8rem;
        }
      }
      .btn-more {
        a {
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media screen and (max-width: $sp-width-px) {
  .container .item-ttl2 {
    .inner {
      padding: 20px;
      width: calc(100% - 38px);
      height: calc(100% - 38px);
      .ttl {
        font-size: 2.5rem;
        font-weight: normal;
        &__number {
          padding: 0 20px 0 0;
        }
      }
      .text-box {
        .text {
          margin: 20px 0;
        }
      }
      .btn-more {
        a {
          font-size: 1.4rem;
        }
      }
    }
  }
}

.container-2 {
  grid-template-rows: 20vw;
}

.media-box {
  .item {
    position: relative;
    .item__img-box__img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      filter: grayscale(100%);
      opacity: 0.5;
      width: 20%;
      height: auto;
      object-fit: cover;
      mix-blend-mode: darken;
    }
    &:hover .item__img-box__img {
      filter: grayscale(0);
      opacity: 1;
    }
    &-ttl2 {
      background: url(../images/bg3_800x400.png);
      filter: grayscale(100%);
      background-size: cover;
      background-repeat: no-repeat;
      .inner{
        transition: .25s all;
      }
      &:hover .inner{
        background: #ffffff99;
      }
    }
  }
}

@media screen and (max-width: $pc-width-px) {
  .container {
    .item-ttl .inner {
      .text-box {
        padding: 25px;
        width: calc(100% - 50px);
      }
      .btn-more {
        a {
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media screen and (max-width: $tb-width-px) {
  .container {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50vw 50vw 50vw 50vw;
    .item-ttl .inner {
      padding: 30px;
      width: calc(100% - 60px);
      height: calc(100% - 60px);
      .text-box {
        width: 90%;
        padding: 10% 5% 0 5%;
        .ttl {
          font-size: 7vw;
          padding: 0;
        }
        p {
          font-size: 1.8rem;
          margin: 50px 0 0 0;
        }
      }
      .btn-more {
        left: calc(30px + 5%);
        bottom: 20px;
      }
    }
  }
  .container-2 {
    grid-template-rows: 50vw 50vw 0;
    overflow: hidden;
    .sp-order {
      order: -1;
    }
  }
  .sec-kv {
    .circle {
      width: $circle-size * 4;
      height: $circle-size * 4;
    }
    .trim-slide {
      clip-path: circle($circle-size * 2);
    }
    .scroll {
      left: 50%;
      transform: translate(-50%, -350%);
    }
  }
}

@media screen and (max-width: $sp-width-px) {
  .container {
    .item-ttl .inner {
      padding: 10px;
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      .text-box {
        padding: 0;
        width: 100%;
        .ttl {
          font-size: 3rem;
          padding: 10px 0;
        }
        p {
          font-size: 1.5rem;
          margin: 10px 0 0 0;
        }
      }
      .btn-more {
        position: absolute;
        left: 13px;
        bottom: 20px;
      }
    }
  }
}

.btn-more {
  a {
    padding-right: 50px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      bottom: 8px;
      right: 0;
      transform: rotate(30deg);
      width: 12px;
      height: 1px;
      background-color: #333;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 5px;
      right: 0;
      width: 40px;
      height: 1px;
      background-color: #333;
    }
    &:hover::before,
    &:hover::after {
      background-color: #ffe007;
      right: -5px;
      transition: 0.2s;
    }
  }
  .event-none {
    &:before{
      width:0;
      height:0;
    }
    &:after{
      bottom: 40%;
      width: 45px;
    }
  }
}

/*footer*/
.footer {
  width: 100%;
  background: #333;
  color: #fff;
  text-align: center;
  font-weight: normal;
  .inner {
    margin: 0 auto;
    padding: 100px 200px;

    a {
      color: #fff;
    }
  }
  &__nav {
    display: flex;
    text-align: left;
    align-items: flex-start;
    .logo {
      width: 150px;
      padding: 3px 5px;
    }
    .ttl {
      font-size: 2.5rem;
    }
    .list {
      margin: 0 0 0 70px;
      &__item {
        margin: 0 0 20px 0;
      }
    }
  }
  .copy {
    font-size: 1.4rem;
    display: inline-block;
    margin: 30px 0;
  }
}

@media screen and (max-width: $tb-width-px) {
  .footer {
    .inner {
      padding: 10%;
    }
    &__nav .list {
      margin: 0 0 0 30px;
    }
  }
}

/*product page*/
.product-page {
  .header {
    position: sticky;
  }
  .sec-main {
    display: flex;
    width: 100vw;
    height: auto;
    .left-box {
      width: 50%;
      height: 100%;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .right-box {
      padding: 40px;
      width: calc(50% - 80px);
      height: 100%;
      h1 {
        font-size: 3rem;
        letter-spacing: 2px;
        margin: 0 0 40px 0;
      }
      table {
        border-collapse: separate;
        letter-spacing: 1px;
      }
      td,
      th {
        font-size: 1.6rem;
        font-weight: normal;
        text-align: left;
        padding: 25px 20px 5px 0;
        vertical-align: bottom;
      }
      th {
        border-bottom: solid 1px #000;
      }
      td {
        border-bottom: solid 1px #999;
        font-size: 1.4rem;
      }
    }
  }
}
@media screen and (max-width: $tb-width-px) {
  .product-page {
    .sec-main {
      flex-direction: column;
      .left-box {
        width: 100%;
      }
      .right-box {
        width: calc(100% - 80px);
      }
    }
  }
}
